html {
	background-color: rgba(11, 2, 86, 0.34);
}

body {
	width: 90%;
	margin: auto;
	background-color: rgba(11, 2, 86, 0.08);
	font-family: 'Courier New', monospace;
}

.header-wrap {
	position: relative;
}

.header-wrap::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-image: url(../images/grass.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.header-content {
	height: 20%;
	position: relative;
}

.header-content h1 {
	text-align: center;
	margin-right: 50%;
	padding-top: 1%;
	font-size: 50px;
}

.header-content h2 {
	margin-left: 15%;
}

.navbar {
	border: 3px solid black;
	border-bottom: 0;
}

.navbar ul {
	list-style-type: none;
	background-color: rgba(39, 8, 112, 0.8);
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.navbar li {
	float: left;
}

.navbar a {
	display: inline-block;
	padding: 10px;
	color: wheat;
	text-decoration: none;
	width: 75px;
	text-align: center;
	font-size: large;
}

.navbar a:hover {
	background-color: rgba(65, 5, 105, 0.55);
}

#active {
	background-color: rgba(11, 2, 86, 1);
}

.about {
	padding: 5px;
	border: 3px solid black;
}
.aboutpic{
	width: 30%;
	height: auto;
	border-radius: 10%;
	border: 3px solid black;
}
.climate {
	background-color: rgba(11, 2, 86, 0.18);
	padding: 5px;
	border: 3px solid black;
	border-top: 0;

}

.climatepic {
	width: 30%;
	height: auto;
	border-radius: 10%;
	border: 3px solid black;
}

.examples {
	padding: 5px;
	border: 3px solid black;
	border-top: 0;
	height: fit-content;
	text-align: center;

}

.combat-wrap-1 {
	display: inline-block;
	width: 70%;
	height: 50%;
	margin: auto;
	vertical-align: top;
}

.combat1,
.combat2,
.combat3 {
	border: 2px solid black;
	width: 32%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}



.combat-wrap-1 img {
	width: 70%;
	height: auto;
	border-radius: 10%;
	border: 3px solid black;
}

.section4 {
	float: none;
	display: flex;
	border: 3px solid black;
	height: 60%;
	background-color: rgba(11, 2, 86, 0.18);
	border-top: 0;

}

.contact {
	display: inline-block;
	width: 40%;
	height: auto;
	text-align: center;
	margin-right: 2%;
}

.contact p {
	margin-top: 5%;
}

.contact h3 {
	margin-right: 1%;
	margin-bottom: 15%;
}

.form {
	width: 59%;
	text-align: left;
	border-left: 3px rgba(11, 2, 86, 0.28);
	;
	border-left-style: solid;
	display: inline-block;
	height: auto;
	overflow: hidden;
}

.form h3 {
	text-align: left;
	margin-left: 1%;
}

.form label {
	margin-left: 2%;
	font-family: bedrock;
	font-size: 125%;
	padding-right: 1%;
	display: inline;
}

.form textarea {
	margin-left: 11%;
	width: 20%;
	height: 15%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease-in-out;
	margin-right: 10%;
}

.form textarea:focus {
	width: 70%;
	height: 17%;
}

i {
	width: 5%;
	height: auto;
}

.form input[type=text],
input[type=email],
input[type=tel] {

	width: 30%;
	position: relative;
	transition: width 0.5s ease-in-out;
	height: 10%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.form input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
	width: 70%;
}

.form input[type=submit] {
	position: relative;
	width: fit-content;
	height: 20%;
	margin-top: 1%;
	border: none;
	background-color: rgba(94, 22, 129, 0.945);
	border-radius: 100%;
	cursor: pointer;
	font-size: 180%;
	color: mediumorchid;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	;
	box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
	;
	margin-left: 11%;
}

.form input[type=submit]:hover {
	background-color: rgba(58, 0, 88, 0.8);
	transform: scale(1.05);
	transition: all 0.3s;
}

.home-btn {
	width: 2%;
	height: auto;
	margin-top: 2%;
}

.footer {
	text-align: center;
	background-color: rgb(23, 2, 82);
	color: darkcyan;
	width: auto;
	padding: 5px;
	border-top: 0;

}